In [1]:
print("hello, world")

hello, world

In [2]:
print("hello, world")

hello, world

In [3]:
# pyton interpreted language
if 4  > 2: 
    print("4 is greater than 2 ")

4 is greater than 2

In [4]:
# pyton vailrlabe
x =4
print(x)
print(type(x))

4
<class 'int'>

In [5]:
# camel ( each but first )
myFirstName = "rahul"

# pascal ( all capital )
MyFirstName = " rahul"

# snake case 
my_first_name = " rahul"

In [6]:
# many to one 
x, y , z  = "orange", "banana", "cherry"

In [7]:
# one to many 
x = y = z = "orange"

In [8]:
# unpacking a collection
list  = ['a', 'b', 'c']
x, y , z = list
print(y)

b

In [9]:
# output variables 
x = " user input"
y = 'b'
c = 'c'

print(x + y + z)

 user inputbc

### Global Variables

* created outside of a function.

* can be used by everyone,  inside and outside.

In [10]:
x = 'amazing'

def fun():
    print("this is" + x)

fun()

this isamazing

If you use the global keyword, the variable belongs to the global scope:

In [11]:
# global 
x =  'awesome'

def fun():
    global x 
    x   = "super"
    print(" x is super")

fun()

 x is super

Also, use the global keyword if you want to change a global variable inside a function.

In [12]:
# assigning gloab to 
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Python Data Types

In [13]:
'''
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType'''
"))

SyntaxError: unterminated string literal (detected at line 10) (2021765612.py, line 10)

# Python Numbers

* There are three numeric types in Python:

int

float
complex
Variables of numeric types are created when you assign a value to them

Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

a = float(x)
b = int(y)
c = complex(x)
print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number

In [ ]:
import random

In [ ]:
print(random.randrange(1, 10))

4

In [ ]:
print(random.randint(1, 10))

5

# Python Casting

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = int(2.33)
y = int(2342.23)

In [ ]:
print(x)

2

In [ ]:
print(y)

2342

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings

Strings are Arrays

In [ ]:
x = 'sundar sundar sundar'
print(x[1])

u

# Looping Through a String

In [ ]:
x = 'sundar sundar sundar'
for a in x:
    print(x)

sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar
sundar sundar sundar

String Length

In [ ]:
x = 'sundar sundar sundar'
print(len(x))

20

# Check String

In [ ]:
x = 'sundar sundar sundar'
print("sundar" in x)

True

In [ ]:
x = 'sundar sundar sundar'
if "sundar" in x:
    print("yes, sundar is present")

yes, sundar is present

# Python - Slicing Strings

Slice From the Start

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

# Slice To the End

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Python - Modify Strings

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

# Lower Case

In [ ]:
a = 'handy case'

print(a.lower())

handy case

# Remove Whitespace

In [ ]:
a = 'hello, world'
print(a.strip()) # returns "hello world"

hello, world

# replace string

In [ ]:
a = ' hello, world'
print(a.replace("h", "j"))

 jello, world

# Split String

In [ ]:
a  = " helo, world"
print(a.split(","))

[' helo', ' world']

# Python - String Concatenation

In [ ]:
a = ' hello'
b = ' world'
c = a + b 
print(c)

 hello world

In [ ]:
print("hello, world")

hello, world

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
def my_function():
    print("hell from a function")

### format string
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [10]:
age = int(input(" what is your age? "))
name = input("what is your name ? ") 
print(f"your name is {name} and you are {age} years old.")

 what is your age?  4
what is your name ?  asd

your name is asd and you are 4 years old.

# Placeholders and Modifiers

In [14]:
pirce = 523
txt = f'the price is {price:.2f} dollars'
print(txt)

the price is 59.00 dollars

In [15]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# Python escape characters

# Python string methods

In [25]:
txt = " ram is smart"
print("this is the original", txt)

this is the original  ram is smart

In [26]:
txt = txt.upper()
print("this is the modified txt", txt)

this is the modified txt  RAM IS SMART

In [27]:
txt  = txt.lower()
print("this is the  lo  text" , txt)

this is the  lo  text  ram is smart

# python lists 
lists  are used to store mulitiple items in a sinngl evariable , list are one of  biuild in dat atype in python used to store collection of data, the other 3 are tuple, set and cdictionary al wth dfferent qulaities and usage , list are created using square brackets:

In [31]:
thislist = ['apple' , ' banana ' , 'cherry ']
print(thislist)

['apple', ' banana ', 'cherry ']

### list items 
list items are ordered , changeable and duplicate 
* indeded, first has index [0 , n ... etc.

### ordered 
lists havea defined order , order does not change, new placed at the end , { note : some do change order }

### changeable 
* changeable i.e. remove items after creation

# allow duplicates

In [34]:
thislist = [ 'a', 'b' 'c', 'd', 'e', 'f','f'] 
print(thislist)

['a', 'bc', 'd', 'e', 'f', 'f']

In [36]:
print(len(thislist))

6

In [37]:
# lits can be of any data type , and contain multiple data types even

In [38]:
print(type(thislist))

<class 'list'>

## list() constructor

In [39]:
fruits = list(('a', 'bc', 'd', 'e', 'f', 'f'))
print(fruits)

['a', 'bc', 'd', 'e', 'f', 'f']

## accessing list items 
indexed and accessible by reffering to the index number

In [42]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[1:3])
print(fruits[-1:])
print(fruits[:-1])
print(fruits[1:])
print(fruits[:1])

['banana', 'cherry']
['mango']
['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
['banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple']

## check if item in list

In [43]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [44]:
if "apple" in fruits: 
    print("yes,'apple' is in the fruits list")

yes,'apple' is in the fruits list

### changing items in list

In [45]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

### add list items

In [47]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

In [48]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#### removing items in list

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)

'banana'

In [54]:
# without index last item is popped 

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [55]:
# del also removes the indedx

In [58]:
thislist = ["apple", "banana", "cherry"]
del thislist[0] 
print(thislist)

['banana', 'cherry']

In [59]:
thislist = [ 'apple', 'banana', 'cherry']

In [64]:
del thislist

In [61]:
del thislist

### loop lists

In [65]:
thislist = [ 'a', 'b', 'c', 'd']
for x in thislist: 
    print(x)

a
b
c
d

### loop through index numbers

In [68]:
thislist = ["apple", "banana", "cherry"]
for i in thilist(x):
    print(thilsit(x)

_IncompleteInputError: incomplete input (4081460607.py, line 3)

In [72]:
for i in range(len(thislist)):
    print(thilist[i])

NameError: name 'thilist' is not defined

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

#### check if tem exists

In [74]:
thislist = ['apple', ' banana', 'cherry' ] 
if 'apple' in thilsist 
    print( yes, 'aapple isexist in the list

SyntaxError: unterminated string literal (detected at line 3) (3750555875.py, line 3)

In [75]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

ModuleNotFoundError: No module named 'pandas'

In [76]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\win11\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\win11\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   --------------- ------------------------ 4.5/11.5 MB 22.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 22.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 19.8 MB/s eta 0:00:00
Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----------- ---------------------------- 3.7/12.6 MB 18.3 MB/s eta 0:00:01
   ------------------------ --------------- 7.6/12.6 MB 18.9 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 20.6 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 18.3 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

In [ ]:
asdf,ash